.container {
    position: relative;
}

@media (max-width: 769px){
    .container{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}

section {
    display: flex;
    width: 500;
    height: 330;
    position: relative;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

body {
    background-color: black;
}

@media (min-width:600px){
    header{
        flex-direction: row;
        padding: opx 30px;
        justify-content: space-between;
    }
}

.nav-primary {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: grey;
    background-image: 
        linear-gradient(
            to bottom,
            rgba(118, 193, 157, 0),
            rgba(118, 193, 157, 0) 90%,
            rgba(118, 193, 157, 100) 90%,
            rgba(118, 193, 157, 100) 100%
        );
    clear: both;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.nav-primary li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.nav-primary a {
    color: aliceblue;
    display: block;
    font-size: 110%;
    font-weight: bold;
    overflow: hidden;
    padding: 0.99em 1.5rem;
    position: relative;
    text-decoration: none;
        -moz-transition: background 0.4s ease-out;
        -o-transition: background 0.4s ease-out;
        -webkit-transition: background 0.4s ease-out;
    transition: background 0.4s ease-out;
}

.nav-primary a::after{
    background: grey;
    background-image: 
        linear-gradient(
            rgba(165, 185, 165, 0.281),
            rgba(30, 32, 31, 0.596) 90%,
            rgba(78, 127, 103, 100) 90%,
            rgba(78, 127, 103, 100) 100%
        );
    overflow: hidden;
    position: relative;
}

.nav-primary a:hover::after{
    top: -5px;
}

@media only screen and(max-width: 600px){
    .nav-primary a{
        border-radius: 0.6em;
        margin: 0.35em;
        padding: 0.5em;
    }

    .nav-primary a:hover{
        background-image: none;
        border: 0.25em solid rgba(206, 223, 206, 0.281);
        padding: 0.25em;
        box-shadow: inset 0 -5px 0 0 rgba(206, 223, 206, 0.281);
    }
}

/* Estilo para la lista principal */
.nav-primary ul {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos de la lista principal */
.nav-primary li {
    display: inline-block;
    position: relative;
}

.nav-primary a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.nav-primary ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.nav-primary ul ul li {
    display: block;
}

.nav-primary li:hover > ul {
    display: block;
}

