.container {
    position: relative;
}

@media (max-width: 769px){
    .container{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}

section {
    display: flex;
    width: 500;
    height: 330;
    position: relative;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

body {
    background-color: black;
}

@media (min-width:600px){
    header{
        flex-direction: row;
        padding: opx 30px;
        justify-content: space-between;
    }
}

